//META{"name":"Default","description":"Default theme","author":"STBoyden","version":"0.0.1"}*//

@font-face {
  font-family: Inconsolata;
  src: url('/usr/share/fontforge/pixmaps/Inconsolata-Regular.ttf');

}
body {
  font-family: Inconsolata;
  font-size: 6.25%;
}

